h1{% extends "layouts/base.nunj" %}

{% import "macros/ui.nunj" as ui %}

{% set descriptions = {
    formBasic: 'Basic forms include input fields with a label for each field and a submit button.',
    inputTypes: 'Use input types to add semantic clarity and present mobile users with phone-friendly input options.  For example, <code>tel</code> gives mobile users a phone-style keyboard, <code>password</code> masks the entered characters, and <code>search</code> changes the submit button from \'go\' to \'search\'.',
    controlOptions: ''
} %}

{% block content %}
    <h1>Forms</h1>
    <hr>

    {% call ui.codeExample( title="Basic form", description=descriptions.formBasic ) %}
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    {% endcall %}

    {% call ui.codeExample( title="Input types", description=descriptions.inputTypes ) %}
<div class="form-group">
    <input type="text" class="form-control" placeholder="Text">
</div>
<div class="form-group">
    <input type="email" class="form-control" placeholder="Email">
</div>
<div class="form-group">
    <input type="tel" class="form-control" placeholder="Phone">
</div>
<div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
</div>
<div class="form-group">
    <input type="search" class="form-control" placeholder="Search">
</div>
<div class="form-group">
    <input type="url" class="form-control" placeholder="URL">
</div>
    {% endcall %}

    {% call ui.codeExample( title="Control options", description=descriptions.controlOptions ) %}
<div class="form-group">
    <select class="form-control" placeholder="Select...">
        <option value="">Select...</option>
        <optgroup label="States">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
        </optgroup>
        <optgroup label="Provinces">
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MB">Manitoba</option>
            <option value="NB">New Brunswick</option>
        </optgroup>
    </select>
</div>

<div class="form-group">
    <textarea class="form-control" placeholder="Enter your long answer here..."></textarea>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
    </label>
</div>
<div class="checkbox disabled">
    <label>
        <input type="checkbox" value="" disabled>
        Option two is disabled
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Option one is this and that&mdash;be sure to include why it's great
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
    </label>
</div>
<div class="radio disabled">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
        Option three is disabled
    </label>
</div>
    {% endcall %}




{% endblock %}