{% extends "layouts/base.nunj" %}

{% import "macros/ui.nunj" as ui %}

{% set descriptions = {
    structure: '',
    breakpointWidths: 'Set specific widths for each breakpoint using <code>col-{screen-size}-{columns}</code>.',
    mobileFirst: 'The breakpoint-specific column widths you specify will carry over to larger sizes, unless you define different widths for each larger size.',
    offsets: 'Offsets are handy for shifting or centering columns in your layouts.  Just like column widths themselves, offsets are specific to each breakpoint.'
} %}

{% block content %}
    <h1>Grid</h1>
    <hr>
    <p class="lead">This grid provides the building blocks for a responsive application.  Below is an overview of the different parts of the grid and how they work together.</p>
    <h3>Structure</h3>
    <p>The grid consists of <b>containers</b>, <b>rows</b> and <b>columns</b>.
        <ul>
            <li><b>Containers</b> set the page margins and can contain one or more rows.</li>
            <li><b>Rows</b> hold one or more columns.</li>
            <li><b>Columns</b> are used create the layout of a page or component.</li>
            
        </ul>
    </p>
    <h3>Mobile First</h3>
    <p>This grid system is mobile-first, which means that by default the layouts established for mobile will apply to all other screen sizes.  From there, you can specify column widths for the larger screen sizes, if desired.</p>

    <h3>Fixed vs. fluid container</h3>
    <p>The <code>container</code> class applies a fixed width per breakpoint to the container.  Use <code>container-fluid</code> to enable fluid containers.</p>

    <h2>Code examples</h2>
    <hr>
    {% call ui.codeExample( title='Basic structure', description=descriptions.structure ) -%}
<div class="container-fluid">
    <div class="row show-grid">
        <div class="col-xs-2">2 col</div>
        <div class="col-xs-4">4 col</div>
        <div class="col-xs-6">6 col</div>
    </div>
</div>
    {%- endcall %}

    {% call ui.codeExample( title='Breakpoint-specific widths', description=descriptions.breakpointWidths ) -%}
<div class="row show-grid">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">xs-10, sm-8, md-6, lg-4</div>
</div>
    {%- endcall %}

    {% call ui.codeExample( title='Mobile first column sizes', description=descriptions.mobileFirst ) -%}
<div class="row show-grid">
    <div class="col-xs-2">xs-2</div>
</div>
<div class="row show-grid">
    <div class="col-sm-4">sm-4</div>
</div>
<div class="row show-grid">
    <div class="col-md-6">md-6</div>
</div>
<div class="row show-grid">
    <div class="col-lg-8">lg-8</div>
</div>
<div class="row show-grid">
    <div class="col-xs-3 col-sm-6 col-md-9 col-lg-12">xs-3 sm-6 md-9 lg-12</div>
</div>
    {%- endcall %}

    {% call ui.codeExample( title='Column offsets', description=descriptions.offsets ) -%}
<div class="row show-grid">
    <div class="col-xs-3 col-xs-offset-1">xs-3 xs-offset-1</div>
    <div class="col-xs-3 col-xs-offset-1">xs-3 xs-offset-1</div>        
    <div class="col-xs-3 col-xs-offset-1">xs-3 xs-offset-1</div>        
</div>
<div class="row show-grid">
    <div class="col-sm-4">sm-4</div>
    <div class="col-sm-4 col-sm-offset-4">sm-4 sm-offset-4</div>
</div>
<div class="row show-grid">
    <div class="col-md-6 col-md-offset-6">md-6 md-offset-6</div>
</div>
    {%- endcall %}


    <h3>Full documentation</h3>
    <p>This grid is pretty awesome and full of features, so <a href="http://getbootstrap.com/css/#grid">check out the docs</a> to learn more after learning the basics.</p>


{% endblock %}