{% extends "layouts/base.nunj" %}

{% import "macros/ui.nunj" as ui %}

{% import "data/icons.nunj" as icons %}

{% set descriptions = {
    headings: 'Use headings to visually indicate the hierarchy of page sections',
    bodyCopy: 'Body copy should be used to communicate detailed information to users.',
    leadCopy: 'Lead copy is useful for subheadings or to call attention to important high-level information.',
    buttonOptions: 'Each button style represents a different type of action.',
    buttonGhost: 'Some buttons offer outlined or "ghost" variants.',
    buttonSizes: 'Various button sizes are available for different applications.',
    buttonBlock: 'A block level style is available to make buttons full-width within grid columns or other containers.',
    buttonDisabled: 'Disabled buttons are given a lighter background and are not selectable.',
    formBasic: 'Basic forms include input fields with a label for each field and a submit button.',
    formInline: 'Inline forms are handy when you want the user to navigate the fields from left-to-right.',
    formHorizontal: 'Horizontal forms take advantage of wide areas by placing labels to the left of their corresponding input fields.',
    formStates: '',
    iconsFilled: 'The default option for each icon is the filled variant.',
    iconsOutline: 'Add the class <code>icon-outline</code> to enable the outlined variant.'
} %}

{% block content %}
    <div class="container">

        <h2>Typography</h2>

        {% call ui.codeExample( title='Headings', description=descriptions.headings ) -%}
<h1>h1. Heading</h1>
<h2>h2. Heading</h2>
<h3>h3. Heading</h3>
<h4>h4. Heading</h4>
<h5>h5. Heading</h5>
<h6>h6. Heading</h6>
        {%- endcall %}

        {% call ui.codeExample( title='Body copy', description=descriptions.bodyCopy ) -%}
<p>Aenean vestibulum metus pellentesque elit faucibus, placerat gravida nisl consequat. Maecenas dignissim, mauris id feugiat fringilla, nibh arcu interdum turpis, eu ornare orci velit quis nisi. Donec pulvinar tempus urna eget placerat.</p>
        {%- endcall %}

        {% call ui.codeExample( title='Lead copy', description=descriptions.leadCopy ) -%}
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Etiam pellentesque mollis metus, eget suscipit metus.</p>
        {%- endcall %}


        <h2>Buttons</h2>

        {% call ui.codeExample( title="Options", description=descriptions.buttonOptions ) %}
<button type="button" class="btn btn-primary">Call to action</button>
<button type="button" class="btn btn-info">Learn more</button>
<button type="button" class="btn btn-default">Go back</button>
<button type="button" class="btn btn-danger">Delete</button>
<button type="button" class="btn btn-link">Link</button>
        {% endcall %}

        {% call ui.codeExample( title="Ghost variants", description=descriptions.buttonGhost ) %}
<button type="button" class="btn btn-info btn-ghost">Learn more</button>
<button type="button" class="btn btn-default btn-ghost">Go back</button>
        {% endcall %}


        {% call ui.codeExample( title="Sizes", description=descriptions.buttonSizes ) %}
<button type="button" class="btn btn-info btn-lg">Large</button>
<button type="button" class="btn btn-info">Regular</button>
<button type="button" class="btn btn-info btn-sm">Small</button>
<button type="button" class="btn btn-info btn-xs">x-small</button>
        {% endcall %}

        {% call ui.codeExample( title="Block level", description=descriptions.buttonBlock ) %}
<div class="row">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block">Submit</button>
        <button type="button" class="btn btn-default btn-block">Go back</button>
    </div>
</div>
        {% endcall %}

        {% call ui.codeExample( title="Disabled state", description=descriptions.buttonDisabled ) %}
<button type="button" class="btn btn-primary" disabled>Call to action</button>
<button type="button" class="btn btn-info" disabled>Learn more</button>
<button type="button" class="btn btn-default" disabled>Go back</button>
<button type="button" class="btn btn-danger" disabled>Delete</button>
<button type="button" class="btn btn-link" disabled>Link</button>
        {% endcall %}

        <h2>Forms</h2>

        {% call ui.codeExample( title="Basic form", description=descriptions.formBasic ) %}
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
        {% endcall %}

        {% call ui.codeExample( title="Inline form", description=descriptions.formInline ) %}
<form class="form-inline">
    <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
        {% endcall %}

        {% call ui.codeExample( title="Horizontal form", description=descriptions.formHorizontal ) %}
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>
        {% endcall %}

        <h2>Icons</h2>
        {% call ui.codeExample( title="Filled icons", description=descriptions.iconsFilled ) %}
<span class="icon icon-arrow-up"></span>
<span class="icon icon-plus"></span>
<span class="icon icon-success"></span>
<span class="icon icon-caution"></span>
        {% endcall %}

        {% call ui.codeExample( title="Outlined icons", description=descriptions.iconsOutline ) %}
<span class="icon icon-outline icon-arrow-up"></span>
<span class="icon icon-outline icon-plus"></span>
<span class="icon icon-outline icon-success"></span>
<span class="icon icon-outline icon-caution"></span>
        {% endcall %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Icon reference</h3>
            </div>
            <div class="panel-body">
                <p>Use the class names below to implement icons, being sure to include the base <code>icon</code> optional <code>icon-outline</code> classes.</p>
                {{ ui.iconExamples( icons.icons ) }}
            </div>
        </div>

    </div>

{% endblock %}