@import "bootstrap-sass/assets/stylesheets/bootstrap";

$sidebar-width : 200px;
$logo-width    : 231px;
$logo-height   : 50px;

// Sidebar
// =======

.sidebar {
    background: $blue-alt;

    @media (min-width: $screen-sm-min) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: $sidebar-width;
        overflow-y: auto;
    }

    .nav-list {
        $nav-border: 1px solid $blue-alt-light;
        @extend .list-unstyled;
        
        .nav-item {
            border-bottom: $nav-border;
            
            &:first-child {
                border-top: $nav-border;
            }

            a {
                display: block;
                color: #fff;
                padding: $grid-gutter-width / 2;
                transition: all .1s ease-in-out;
                &:hover {
                    background: $blue-alt-light;
                    text-decoration: none;
                }
            }

        }
    }
}


// Main content
// ============
.main {
    @media (min-width: $screen-sm-min) {
        margin-left: $sidebar-width;
    }
}



// 
// Documentation
// ----------------------------------------

// Code examples
.icon-example-list {
    @include make-row();
}

.icon-example {
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-md-column(3);
    border: 1px solid #fff;
    background: $gray-lighter;
    transition: all .1s ease-in-out;

    &:hover {
        background: $blue-alt;
        color: #fff;
    }
    
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(3n + 1) {
            clear: both;
        }
    }
    
    @media (min-width: $screen-md-min) {
        &:nth-child(4n + 1) {
            clear: both;
        }
    }

    &-inner {
        padding: $padding-base-vertical $padding-base-horizontal;
    }
}

.show-grid {
    & + & {
        margin-top: $grid-gutter-width / 2;
    }

    [class^="col-"] {
        padding: $padding-base-vertical $padding-base-horizontal;
        border: 1px solid $blue-alt-lighter;
        background: $blue-alt-lightest;
        text-align: center;
    }
}

// 
// Page-specific styles
// ----------------------------------------

// Home page
.home-hero {
    position: relative;
    top: 50%;
    margin-top: $logo-height / 2;

    .cofi-logo {
        width: $logo-width;
        height: $logo-height;
    }
}